/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */


:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-de-title__subsection:#464646;
   --cor-de-about:#EAF2FD;
   --cor-de-skills:#e9ebf3;
   --cor-de-img:#FFFFFF;
   --cor-de-boder:darkblue;
   --cor-de-boton:#2A7AE4;
}

body {
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';      
    line-height: 1;    
    
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    height: 88px;
    width: 100%;   
}

.menu__header{
    align-items: center;   
    display: flex;    
    gap: 5px;    
    margin-left: 10%;
}

.menu__img{
    width: 24px;
    height: 24px;
}
.menu__nav{
    margin-right: 10%;
}

.menu__list{
    display: flex; 
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.menu__list__item{
    font-size: 14px;    
}

.menu__list__item__contato{
    font-weight: bold;
}

/*Sección Title*/

.title{      
    display: flex;
    align-items: center;  
    height: 450px;
    width: 100%;  
}
.title__div{    
    display: flex;
    align-items: center;
    width: 1136px;    
    justify-content: space-around;
    flex-direction: row-reverse;      
}

.menu__nav{
    margin-right: 20%;
}
.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title__profile{
    border-radius: 70%;
    display: flex;        
    height: auto;    
    width: 250px;    
    margin: 10px 15px ;      
}
.title__bio{
    align-self: center;
    font-weight:bold;
    font-size: 40px;        
    margin: 0;    
}
.title__subsection{
    align-self: center;
    font-size: 14px;
    font-weight: 100;
    width: 70%;
    color: var(--cor-de-title__subsection);
}
.title__network{    
    align-items: center;
    display: flex;
    flex-flow: row;
    gap: 15px;
    justify-content: space-between;
}

/*Sección About*/

.about{
    display: flex;
    width: 100%;
    background-color: var(--cor-de-about);
}

.skills{
    align-items: center;
    display: flex;    
    flex-direction: column;
    margin-left: 5px;
    align-content: center;
    
}
.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 3px; 
    margin: 3px 1px;
}

.skills__box{   
    align-items: flex-end;
    display: flex;
    background-color: var(--cor-de-skills);
    height: 140px;
    width: 160px;
    margin: 0 5px;
    margin-bottom: 15px;
}

.skills__logo{
    display: flex;
    flex-direction: column;
    padding-left: 0%;    
}

.skills__img{
    margin-bottom: 20px;
    margin-left: 10px;
}
.skills__name{
    margin-left: 10px;
    font-weight: bold;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hobbies__line{
    display: flex;
    flex-direction: row;
}

.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-de-about);
}

.academic__courses{
    display: flex;
    flex-direction: column;
    margin: 5px;       
    width: 94%;    
}

.academic__courses__list{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0 0;
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 3px 3px;
    width: 350px;
}

.academic__courses__item__img__img{
    width: 30%;         
}

.academic__courses__item__text{
    width: 100%;  
    display:flex;
    flex-flow:column;
}
.academic__courses__item__title{
    height: 12px;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencie__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%; 
}

.formcontato{
    background-color: var(--cor-de-about);  
    width: 94%; 
}

.formcontato__contacto{
    display: flex;
    flex-direction: row;  
    align-items: center;
    gap: 3px;
}

.formcontato--esquerda{
    display: flex;
    width: auto;
    justify-content: center;
    height: 416px;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    height: 456px;
}

.formcontato__subtext{
    font-weight:lighter ;
    margin: 5px 0;
    font-size: medium;
}

.formcontato__form{
    display: flex;
    justify-content: center;
    flex-direction: column;   
    width: 94%; 
    margin: 5px 10px;
    height: 327px;
}

.formcontato__input{    
    width: auto;
    height: 40px;    
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 20px solid var(--cor-de-boder);      
    line-height: 80px;
}

.formcontato__textarea{
    height: 120px;
    margin-bottom:20px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 10px;
}

.formcontato__botao{
    background-color: var(--cor-de-boton);
    border: 0;
    color: var(--cor-de-img);
    height: 45px;
    font-size: medium;
    font-weight: bolder;
    width: 150px;
    margin: 15px 0;
}

.footer__rodape{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.footer__rodape_text{    
    margin: 0 0;
}

/*Tablet*/
@media (max-width:992px){
    .menu__header{
        align-items: center;   
        display: flex;    
        gap: 5px;    
        margin-left: 3%;
    }

    .menu__nav{
        margin-right: 3%;
    }
    .title{
        height: 274px;
    }

    .title__profile{
        border-radius: 70%;
        display: flex;        
        height: auto;    
        width: 190px;    
        margin: 10px 15px ;      
    }
    .title__bio{
        font-size: 23px;
        align-self: flex-start;
        margin-left: 3%;
    }

    .title__subsection{
        align-self: flex-start;
        font-size: 12px;        
        width: 90%;
        color: var(--cor-de-title__subsection);
        margin-left: 3%;
    }  


    .menu__list__item{        
        display: none;
    }
    .formcontato__img{
        display: none;
    }


}

/*Mobile*/
@media (max-width: 575px) {
    .menu{
        display: flex;
        justify-content: space-between;    
        height: 50px;
        width: 100%;
    }

    .menu__header{         
        display: flex;    
        margin-left: 3px;        
    }

    .menu__nav{        
        margin-right: 3px; 
    }

    .menu__list__item{        
        display: none;
    }
    .menu__list__item__contato{
        font-weight: lighter;
    }

    .title{      
        display: flex;
        flex-direction: row;
        align-items: center;  
        height: auto;
        margin: 5px 5px;
        width: 100%;  
    }

    .title__div{    
        display: flex;        
        width: 100%;    
        justify-content: space-around;
        flex-direction: column;      
    }
    .title__profile{
        border-radius: 70%;
        display: flex;
        align-self: flex-start;
        height: auto;    
        width: 100px;    
        margin: 10px 15px ;      
    }

    .title__container{
        margin: 0 5px;
        margin-top: 5px;
    }
    .title__bio{
        font-size: 21px;
    }
    .title__subsection{
        align-self: center;
        font-size: 12px;        
        width: 100%;
        color: var(--cor-de-title__subsection);
    }   
    .about__container{
        margin: 0 3px;
    } 
    .about__paragraph{
        align-items: center;
        display: flex;
        font-size: 14px;        
    }

    .formcontato__img{
        display: none;
    }






}